@charset 'utf-8';

@import '~normalize.css';
@import '~highlight.js/styles/dracula.css';

* {
  box-sizing: border-box;
}

html,
body,
body > div {
  height: 100%;
  width: 100%;
}

html,
body {
  margin: 0;
}

.editor {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.editor-header {
  background: #222;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  width: 100%;
}

.editor-header .save-message {
  align-items: center;
  color: #fff;
  display: flex;
  font: 15px sans-serif;
  margin: 0;
  padding: 0 20px;
}

textarea,
.view {
  height: calc(100% - 40px);
  min-width: 40%;
  max-width: 40%;
}

textarea {
  font-size: 18px;
  padding: 10px;
  resize: none;
}

textarea:focus {
  outline: 0 none;
}

.view {
  background: #333;
  color: #fff;
  font-family: sans-serif;
  overflow: auto;
  padding: 10px;
}

.files-list-container {
  background: #fc0;
  min-width: 20%;
  max-width: 20%;
}
