@charset 'utf-8';

.app {
  float: left;
  padding: 30px;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.actions,
.repos-container {
  display: flex;
  justify-content: space-between;
  float: left;
  width: 100%;
}

.actions button,
.repos-container > div {
  margin-right: 20px;
  width: 100%
}

.actions :first-child,
.repos-container :first-child {
  margin-left: 0;
}
